<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      iOS ion-input in ion-item focus bug
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="inputLabel" position="floating">
      <ion-icon name="person-circle"></ion-icon>Email
    </ion-label>
    <ion-input type="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="inputLabel" position="floating">
      <ion-icon name="key"></ion-icon>Password
    </ion-label>
    <ion-input type="password" name="email"></ion-input>
  </ion-item>
</ion-content>
